.page-header
  %h1
    Accounts

.panel.panel-default
  .panel-heading
    %h3.panel-title Accounts
  %table.table
    %thead
      %tr
        %th Email
        %th ID
        %th User
        %th # of Subscriptions
        %th Created at

    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.profile.email
          %td= account.id
          %td= account.userID
          %td= account.successfulSubscriptions
          %td= account.created.advance(hours: -4).strftime('%m/%d/%Y %I:%M')
